.App {
  text-align: center;
}

#show-dropbox {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 95%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#student-score {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#students,
#subjects {
  font-size: large;
  font-weight: bold;
  padding: 10px;
}

#scoreShow {
  font-family: sans-serif;
}
